<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org" 
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
</head>
<body>
	<div th:if="${userName} != null">
		Hello <a th:text="${userName}"></a> <a href="/logout">Logout</a>
	</div>
	<div th:if="${userName} == null">
		This is a welcome page. You are not loged in, visit <a href="/loginPage">Login Page</a>
	</div>
</body>
</html>